.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

h1 {
  margin-bottom: 50px;
}

.input-question {
  margin: 0;
}

.input-div {
  display: inline-block;
  text-align: left;
  margin: 0;
}

.feedback-thank-you {
  font-weight: 300;
}